{% extends "base.html" %}

{%block content%}
<h2>List of currently active photo campaigns</h2>
<ul>
	{% for c in list%}
		<li><a href='/{{c.slug}}'>{{c.title}}</a></li>
	{%endfor%}
</ul>

{%endblock%}